
.dropdown{
    list-style-type: none;
    margin: 0;
    background-color: lightblue;
    padding: 10px;
    width: 150px;
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 1;
    visibility: hidden;
}

.dropdown li a{
    text-decoration: none;
    color: black;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

.open>.dropdown{
  visibility: visible;
}

