<div class="row mt-3" *ngIf="recipe.name === ''; else selected">
  <h3>Please select a recipe item!</h3>
</div>
<ng-template #selected>
  <div class="row mt-5">
    <div class="col-xs-12">
      <img [src]="recipe.imagePath" height="300px" width="300px" [alt]="recipe.name" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{recipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="position-relative">
        <button type="button" class="btn btn-primary" (click)="dropdownMenu()">Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown rounded {{visibility}}">
          <li><a href="#">To Shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{recipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Ingredient
    </div>
  </div>
</ng-template>
