<a href="#" class="list-group-item clearfix my-2 p-2 border rounded bg-light"
      *ngFor="let recipe of recipes">
      <div class="float-start">
        <h4 class="list-group-item-heading" (click)="getRecipeDetails(recipe)">{{recipe.name}}</h4>
        <p class="list-group-item-text" (click)="getRecipeDetails(recipe)">{{recipe.description}}</p>
      </div>
      <span class="float-end">
        <img (click)="getRecipeDetails(recipe)" [src]="recipe.imagePath" alt="{{recipe.name}}" class="image-responsive" style="max-height: 100px;">
      </span>
    </a>